/*Background Main*/
body{
    background: rgb(215, 213, 232);
}

/*Main container*/
.container{
    text-align: center;
    align-items: center;
    font-family: Black Arial, Arial;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 150%;

}

#im{
    text-transform: inherit;
    text-decoration: underline;
}